[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-cors-headers = "*"
pillow = "*"
strawberry-graphql = {extras = ["django"], version = "*"}
pyjwt = "*"
django = {extras = ["argon2"], version = "*"}

[dev-packages]
django-extensions = "*"
django-debug-toolbar = "*"

[requires]
python_version = "3.12"
