[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-cors-headers = "*"
pillow = "*"
strawberry-graphql = {extras = ["django"], version = "*"}
pyjwt = "*"
django = {extras = ["argon2"], version = "==6.0.2"}
django-q2 = "==1.9.0"
qrcode = "*"
reportlab = "*"
setuptools = "<81"
requests = "*"
pypdf = "*"
langchain = "*"
langchain-community = "*"
langchain-openai = "*"
openai = "*"
python-dotenv = "*"
chromadb = "*"
tiktoken = "*"

[dev-packages]
django-extensions = "*"
django-debug-toolbar = "*"

[requires]
python_version = "3.12"
