[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-cors-headers = "*"
pillow = "*"
strawberry-graphql = {extras = ["django"], version = "*"}
pyjwt = "*"

[dev-packages]
django-extensions = "*"
django-debug-toolbar = "*"

[requires]
python_version = "3.12"
